*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*hepsini yukarı hizaladık*/
}
body{
  min-height: 100vh;
  background-color: lightskyblue;
}
h1{
  color:red;
}
p{
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
